pandas 
numpy
joblib
scikit-learn
seaborn
matplotlib
tensorflow
xgboost
shap

PyYAML
streamlit 


# comment these libraries for the deployment

lime
notebook  # Jupyter notebook

flask 

# for fastapi 

fastapi
python-multipart
itsdangerous

